.profile-info {
    max-width: torem(320);
    padding-right: 2rem;
    position: fixed;
    .profile-avatar {
        width: torem(60);
        height: torem(60);
        position: relative;
        margin-bottom: 1rem;

        background: {
            size: contain;
            position: center;
        }

        &:before {
            content: "";
            border: solid 2px #ffffff;
            background-color: $primary;
            width: torem(14);
            height: torem(14);
            object-fit: contain;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    h3 {
        font-family: $Text-Semibold;
        color: $dark-blue;
    }
    .job-desc{
        @include flex-align-center();
        p{
             background: linear-gradient(274deg, rgba(21, 162, 250, 0.97), #ed4caf);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .separator{
             background-image: linear-gradient(274deg, rgba(21, 162, 250, 0.97), #ed4caf);
        }
    }
}

.content-tabs {
    position: relative;
    
    overflow-y: auto;
    padding-right: 0.5rem;
    nav {
        border: none;
        margin-bottom: torem(44);

        a {
            font-size: $paragraph;
            font-family: $Text-Bold;
            color: $charcoal;
            letter-spacing: -0.1px;
            margin-right: torem(35);
            line-height: 1;
            @include justify-align-center();
            position: relative;
            text-decoration: none;

            &:before {
                content: "";
                width: 0;
                 height: 3px;
                 background-image: linear-gradient(274deg, rgba(21, 162, 250, 0.97), #ed4caf);
                position: absolute;
                bottom: -10px;
                left: 0;
                @include transition(all cubic-bezier(0.88, 0.05, 0.26, 0.6) 0.3s);
            }

            &.active {
                &:before {
                   
                    width: 2.5rem;
                    height: 3px;
                    @include transition(all cubic-bezier(0.88, 0.05, 0.26, 0.6) 0.3s);
                }
            }
            &:hover{
                &:before{
                    width: 100%;
                }
            }
        }
    }
   
}



.thumbnail {
    width: torem(200);
    color: $dark-blue;
    cursor: pointer;
    margin-bottom: 2rem;
    .img {
        border-radius: torem(10);
        box-shadow: -5px 2px 10px 0 rgba(0, 0, 0, 0.09);
        margin-bottom: 0.75rem;
        width: 200px;
        height: 236px;
    }

    h5 {
        font-family: $Display-Bold;
        letter-spacing: -0.2px;
         @include transition(all ease 0.3s);
    }

    p {
        line-height: 1.29;
        letter-spacing: -0.2px;
        margin-bottom: 0.5rem;
        opacity: 0.8;
    }

    &:hover {
        h5 {
            background: linear-gradient(300deg, rgba(21, 162, 250, 0.97), #ed4caf);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
             @include transition(all ease 0.3s);
        }
    }
}

.contact-btn {
    float: right;
    background-color: #fafaff;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;

    h5 {
        margin-bottom: 2px;
        font-size: .8rem;
        font-weight: 700;
        color: $dark-blue;
    }

    p {
        margin: 0;
        font-size: 0.7rem;
        color: $primary-text;
    }
}