.main-container{
	width:torem(1200);
	padding: torem(50) 1rem;
	@include flexbox();
}


.separator{
	width: 4px;
	height: 4px;
	background: $dark-blue;
	display: block;
	border-radius: 50%;
	margin: 0 0.5rem;
}

.subtitle{
	font-family: $Text-Medium;
	color: $charcoal;
}

.section-label{
	font-family: $Text-Semibold;
	color: $charcoal;
	display: block;
}

//badges

.badge{
	font-family: $Text-Bold;
	font-size: $small;
	padding: 0.3rem 0.75rem;
	margin: 0.2rem 0.4rem 0.2rem 0;

}

@each $color,$value in $theme-colors {
    .badge-ghost-#{$color} {
        background-color: $off-white;
        color: $value;
    }
}

.avatar{
	&-xs{
		width: torem(30);
		height: torem(30);
	}
}

.main-nav{
	@include align-items(baseline);
	margin-bottom: torem(60);
	padding:0;
	a{
		font-size: $h5;
		font-family: $Text-Light;
		margin-right: torem(30);
		margin-bottom: 0;
		line-height: 1;
		color: $primary-text;
		&.active{
			font-family: $Text-Bold;
			font-size: $h1;
			color: $dark-blue;
		}
	}
}