.modal-custom{

  &-dialog {
    max-width: 100% !important;
    margin: 0 !important;
  }
  &-content {
    width: 100vw;
    height: 100vh;
    background-color: transparent !important;
    border: 0;
  }
}

.close-btn {
  float: right;
  font-weight: 700;
  line-height: 1;
  font-size: 20px;
}