{% extends "base.html" %}
{% load wagtailcore_tags %}

{% load static wagtailuserbar %}
{% load wagtailimages_tags %}


{% block main %}
<div class="position-relative">
  <div class="project-container">
    <aside class="project-info">
      <h1 class="mt-4">{{ page.title }}</h1>
      <div class="section my-5">
        {% for tag in page.tags.all %}
              <a href="{% slugurl 'tags' %}?tag={{ tag }}"><span class="badge badge-pill badge-ghost-dark">{{tag}}</span></a>
        {% endfor %}
     </div>
     <div class="section py-2">
       <label class="section-label mb-2">Project brief</label>
       <p>
        {{ page.description }}
       </p>
     </div>
    </aside>
    <section class="project-content-wrapper p-5">
     <div class="project-gallery">
      <button type="button" class="close mb-3" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
       <div class="slider">
         <div class="slider_track" data-glide-el="track">
           <ul class="slider__slides">
            {% for item in page.gallery_images.all %}
              {% image item.image min-540x1036 as images%}
              <li class="image glide__slide" style="background-image: url({{images.url}});" data-slide-index="{{ forloop.counter0 }}"></li>
            {% endfor %}
           </ul>
         </div>
         <div class="glide__arrows" data-glide-el="controls">
           <button class="slider__arrow slider__arrow--left" data-glide-dir="<"><</button>
           <button class="slider__arrow slider__arrow--right" data-glide-dir=">">></button>
         </div>
         <div class="slider__lists" data-glide-el="controls[nav]">
          {% for item in page.gallery_images.all %}
            {% image item.image fill-320x240 as images%}
            <div class="item" data-glide-dir="={{ forloop.counter0 }}" style="background-image: url({{ images.url }});"></div>
          {% endfor %}
         </div>
       </div>
     </div>
    </section>
  </div>
  <div class="enlarge-img">
    <div class="project-gallery">
      <button type="button" class="close close-enlarge mb-3">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="enSlider">
        <div class="enSlider__lists mb-5" data-glide-el="controls[nav]">
          {% for item in page.gallery_images.all %}
            {% image item.image fill-320x240 as images%}
            <div class="item" data-glide-dir="={{ forloop.counter0 }}" style="background-image: url({{ images.url }});"></div>
          {% endfor %}
        </div>
        <div class="enSlider_track" data-glide-el="track">
          <ul class="enSlider__slides">
            {% for item in page.gallery_images.all %}
              <li class="image glide__slide" data-toggle="modal" data-target="#exampleModal">
                {% image item.image original%}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
     </div>
  </div>
</div>
<script src="{% static 'node_modules/@glidejs/glide/dist/glide.min.js' %}"></script>
<script>
  new Glide('.slider',{
    perView: 1,
    gap: 5
  }).mount()
  

  $(".image").click(function() {
    var index = $(this).attr('data-slide-index');
    $(".enlarge-img").show();
    new Glide('.enSlider',{
      startAt: index,
      perView: 1,
      gap: 5
    }).mount()
    
  });

  $(".close-enlarge").click(function() {
    $(".enlarge-img").hide();
  });
  
</script>
{% endblock %}



