{% extends "home/home_page.html" %}

{% load static wagtailuserbar %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<div class="content-tabs">
  <nav id="contentNav" class="nav nav-tabs" role="tablist">
    <a class="active" id="DlTemplates" data-toggle="tab" href="#templates" role="tab" aria-controls="templates" aria-selected="true">Downloadable Templates 
    </a>

    <a id="PsIllustrations" data-toggle="tab" href="#illustrations" role="tab" aria-controls="illustrations" aria-selected="false">Illustrations</a>

    <a id="ClProjects" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">Clients Project</a>
  </nav>
  <div class="content-wrapper tab-content" id="contentTab">
    <div class="tab-pane fade show active" id="templates" role="tabpanel" aria-labelledby="DlTemplates">
      <div class="row justify-content-between m-0">
        {% for work in works %}
        {% if work.specific.category == 'dt' %}
        <div class="thumbnail" data-href="{%pageurl work%}">
          {% with work.specific.thumbnail_img as thumbnail_img %}
            {% if thumbnail_img %}
              {% image thumbnail_img min-200x236 as image %}
                <div class="img" style="background-image: url({{image.url}});"></div>
            {% else %}
              <div class="img">
                <img src="{% static 'images/ricardo-frantz-1367825-unsplash.jpg' %}" data-rjs="3">
              </div>
            {% endif %}
          {% endwith %}
          <h5>{{ work.title }}</h5>
          <p>{{ work.specific.description | truncatechars:100 }}</p>
          <p>{{ work.specific.date | date:"Y"}}</p>
        </div>
        {% endif %}
        {% endfor %}      
      </div>
    </div>
    <div class="tab-pane fade" id="illustrations" role="tabpanel" aria-labelledby="PsIllustrations">
      <div class="row justify-content-between m-0">
        {% for work in works %}
        {% if work.specific.category == 'il' %}
        <div class="thumbnail" data-href="{%pageurl work%}">
          {% with work.specific.thumbnail_img as thumbnail_img %}
            {% if thumbnail_img %}
              {% image thumbnail_img min-200x236 %}
            {% else %}
              <img src="{% static 'images/ricardo-frantz-1367825-unsplash.jpg' %}" data-rjs="3">
            {% endif %}
          {% endwith %}
          <h5>{{ work.title }}</h5>
          <p>{{ work.specific.description | truncatechars:100 }}</p>
          <p>{{ work.specific.date | date:"Y"}}</p>
        </div>
        {% endif %}
        {% endfor %}      
      </div>
    </div>

    <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="ClProjects">
      <div class="row justify-content-between m-0">
        {% for work in works %}
        {% if work.specific.category == 'cp' %}
        <div class="thumbnail" data-href="{%pageurl work%}">
          {% with work.specific.thumbnail_img as thumbnail_img %}
            {% if thumbnail_img %}
              {% image thumbnail_img min-200x236 %}
            {% else %}
              <img src="{% static 'images/ricardo-frantz-1367825-unsplash.jpg' %}" data-rjs="3">
            {% endif %}
          {% endwith %}
          <h5>{{ work.title }}</h5>
          <p>{{ work.specific.description | truncatechars:100 }}</p>
          <p>{{ work.specific.date | date:"Y"}}</p>
        </div>
        {% endif %}
        {% endfor %}      
      </div>
    </div>
  </div>
</div>
<div class="modal modal-custom fade" id="projectsModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-custom-dialog" role="document">
    <div class="modal-content modal-custom-content">
    </div>
  </div>
</div>
</div>
{% endblock %}
{% block js %}
<script>
  $(document).ready(function(){
    $('.thumbnail').on('click',function(){
        var dataURL = $(this).attr('data-href');
        console.log(dataURL);
        $('.modal-content').load(dataURL,function(){
            $('#projectsModal').modal({show:true, backdrop: false});
        });
    }); 
  });
</script>
{% endblock %}
