.profile-info {
    max-width: torem(320);

    .profile-avatar {
        width: torem(60);
        height: torem(60);
        position: relative;
        margin-bottom: 1rem;

        background: {
            size: contain;
            position: center;
        }

        &:before {
            content: "";
            border: solid 2px #ffffff;
            background-color: $primary;
            width: torem(14);
            height: torem(14);
            object-fit: contain;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    h3 {
        font-family: $Text-Semibold;
        color: $dark-blue;
    }
}

.content-tabs {
    nav {
        border: none;

        a {
            font-size: $small;
            font-family: $Text-Semibold;
            color: $charcoal;
            letter-spacing: -0.1px;
            margin-right: torem(35);
            padding: 0.4rem 0.5rem;
            line-height: 1;
            @include justify-align-center();

            &.active {
                background: $dark-blue;
                color: $white;
                border-radius: 10rem;

            }
        }
    }
}


.thumbnail {
    width: torem(200);
    height: torem(200);
    color: $white;
    position: relative;
    .thumbnail-photo {
        width: 100%;
        height: 100%;
        box-shadow: -5px 10px 30px 0 rgba(0, 0, 0, 0.09);
        border-radius: 6px;
        background: {
            size: cover;
            position: center;
        }
    }

    .thumbnail-details {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(flex-end);

        padding: torem(15);

        h4 {
            font-family: $Text-Bold;
            margin-bottom: 0.2rem;
        }
        p{
        	margin-bottom: 0;
        }
    }



}